git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_decorator
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_master_data_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_cancel_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_confirm_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_date_duration_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_done_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_open_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_ready_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_terminate_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_partner_mixin
